<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Leckerli+One|Schoolbell|Walter+Turncoat" rel="stylesheet">
    <title>Address Book</title>
</head>
<body>
    <div class='container'>
        <h1>Address Book</h1>
        {% if contacts is not empty %}
            <h2>Here are all your Contacts:</h2>
            <ul class='center'>
              {% for contact in contacts %}
                <li>{{ contact.getName }}</li>
                <li>{{ contact.getPhone }}</li>
                <li>{{ contact.getAddress }}</li>
                <br />
                <br />
              {% endfor %}
            </ul>
        {% endif %}

        <h3>You May Enter A new Contact Here:</h3>
        <br />
        <form action='/contacts' method='post'>
            <label for='name'>Name: </label>
            <input class='inputForm' id='name' name='name' type='text'>
            <br />
            <br />
            <label for='phone'>Phone: </label>
            <input class='inputForm' id='phone' name='phone' type='number'>
            <br />
            <br />
            <label for='address'>Address: </label>
            <input class='inputForm' id='address' name='address' type='text'>
            <br />
            <br />
            <button type='submit' class='btn-success'>Add Contact</button>
        </form>
        <form action='/delete_contacts' method='post'>
            <button class='btn-danger' type='submit'>Clear All Contacts</button>
        </form>
    </div>
</body>
</html>
