
<html>
<head>
    <title>Address Book</title>
</head>
<body>
    <h1>You have added a Contact to your Address Book!</h1>
    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getPhone }}</p>
    <p>{{ newcontact.getAddress }}</p>
    <p><a href='/'>View your Address Book!</a></p>
</body>
</html>
